<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LoreMaps</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <link rel="stylesheet" href="~/lib/leaflet/dist/leaflet.css" />
        <link rel="stylesheet" href="~/lib/leaflet-bookmarks/dist/leaflet.bookmarks.css" />
        <link rel="stylesheet" href="~/lib/leaflet-sidebar/src/L.Control.Sidebar.css" />

        <link rel="stylesheet"  href="~/lib/leaflet-search/dist/leaflet-search.src.css" />

        <link rel="stylesheet" href="~/lib/leaflet.draw/dist/leaflet.draw.css" />

        <link href="~/css/hexgrid.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

        <link rel="stylesheet" href="//cdn.jsdelivr.net/leaflet/0.7.7/leaflet.css"
              asp-fallback-href="~/lib/leaflet/dist/leaflet.css"
              asp-fallback-test-class="leaflet-layer" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="~/lib/leaflet-bookmarks/dist/leaflet.bookmarks.min.css" />
        <link rel="stylesheet" href="~/lib/leaflet-sidebar/src/L.Control.Sidebar.css" />

        <link rel="stylesheet" href="//cdn.jsdelivr.net/leaflet.search/1.8.4/leaflet-search.min.css"
              asp-fallback-href="~/lib/leaflet-search/dist/leaflet-search.min.css"
              asp-fallback-test-class="leaflet-control-search" asp-fallback-test-property="position" asp-fallback-test-value="relative" />

        <link rel="stylesheet" href="~/lib/leaflet.draw/dist/leaflet.draw.css" />
    </environment>

</head>
<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">LoreMaps</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Maps" asp-action="GoT">Game Of Thrones</a></li>
                        <li><a asp-controller="Maps" asp-action="Faerun">Faerun</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="glyphicon glyphicon-cog" title="Settings" data-toggle="modal" data-target="#userPreferencesModal"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2016 - LoreMaps</p>
            </footer>
        </div>


        <div class="modal fade" tabindex="-1" role="dialog" id="userPreferencesModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Settings</h4>
                    </div>
                    <div class="modal-body">
                        
                        <dl class="dl-horizontal">
                            <dt>Metric</dt>
                            <dd>
                                <label class="radio-inline"><input id="rMiles" type="radio" name="optradio">Miles</label>
                                <label class="radio-inline"><input id="rKm" type="radio" name="optradio">Kilometers</label>
                            </dd>
                        </dl>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="bSavePreferences">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>

            <script>L_PREFER_CANVAS = true;</script>
            <script src="~/lib/leaflet/dist/leaflet-src.js"></script>

            <script src="~/lib/leaflet-bookmarks/dist/Leaflet.Bookmarks.js"></script>
            
            <script src="~/lib/leaflet-sidebar/src/L.Control.Sidebar.js"></script>

            <script src="~/lib/turf/turf.js"></script>
            
            <script src="~/lib/leaflet-search/dist/leaflet-search.src.js"></script>

            <script src="~/lib/leaflet.draw/dist/leaflet.draw-src.js"></script>

            <script src="~/js/rastercoords.js"></script>

            <script src="~/js/exportdrawings.js"></script>

            <script src="~/lib/leaflet-image/queue.js"></script>
            <script src="~/lib/leaflet-image/leaflet-image.js"></script>
            <script src="~/js/download.js"></script>
            <script src="~/js/exportimage.js"></script>

            <script src="~/js/hexgrid.js"></script>

            <script src="~/js/fantasymap.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>

            <script>L_PREFER_CANVAS = true;</script>

            <script src="//cdn.jsdelivr.net/leaflet/0.7.7/leaflet.js"
                    asp-fallback-src="~/lib/leaflet/dist/leaflet.js"
                    asp-fallback-test="window.L"></script>

            <script src="//api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js"
                    asp-fallback-src="~/js/turf.min.js"
                    asp-fallback-test="window.turf"></script>

            <script src="~/lib/leaflet-bookmarks/dist/Leaflet.Bookmarks.min.js"></script>
            <script src="~/lib/leaflet-sidebar/src/L.Control.Sidebar.js"></script>

            <script src="//cdn.jsdelivr.net/leaflet.search/1.8.4/leaflet-search.min.js"
                    asp-fallback-src="~/lib/leaflet-search/dist/leaflet-search.min.js"
                    asp-fallback-test="window.L.Control.Search"></script>

            <script src="~/lib/leaflet.draw/dist/leaflet.draw.js"></script>

            <script src="~/lib/leaflet-image/queue.js"></script>
            <script src="~/lib/leaflet-image/leaflet-image.js"></script>

            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        <script type="text/javascript">

            $(document).ready(function () {

                $('#userPreferencesModal').on('shown.bs.modal', function (e) {

                    if (window.LoreMaps.UserPreferences.UseMetric) {
                        $("#rKm").prop("checked", true);
                    }
                    else {
                        $("#rMiles").prop("checked", true);
                    }

                });

                $('#bSavePreferences').on('click', function (e) {
                    window.LoreMaps.UserPreferences.UseMetric = $("#rKm").prop("checked") ? true : false;
                    window.LoreMaps.UserPreferences.save();

                    location.reload();
                });
            });

        </script>

        @RenderSection("scripts", required: false)
</body>
</html>
